<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="week13.YOO.repository.CommentMapper">
    <select id="getCommentListDB" parameterType="int" resultType="week13.YOO.dto.CommentDto">
        SELECT *
        FROM comment
        WHERE boardnum = #{boardnum}
    </select>
    <insert id="insertCommentDB" parameterType="week13.YOO.dto.CommentDto">
        INSERT INTO comment (boardnum, comment, regdate, writer) VALUES( #{boardNum}, #{comment}, now() ,#{writer});
    </insert>
    <delete id="deleteCommentDB" parameterType="map">
        DELETE FROM comment
        WHERE commentnum = #{commentNum}
    </delete>
</mapper>